# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_RZ42_LEFT
    bool "RZ42 Left"
    depends on SOC_NRF52840_QIAA

config BOARD_RZ42_RIGHT
    bool "RZ42 Right"
    depends on SOC_NRF52840_QIAA
