# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_WIDGET_BATTERY_STATUS_80X128_MONO
    bool "Widget for battery charge information, using small icons"
    depends on BT
    select LV_USE_LABEL

config ZMK_WIDGET_OUTPUT_STATUS_80X128_MONO
    bool "Widget for keyboard output status icons"
    depends on BT && (!ZMK_SPLIT_BLE || ZMK_SPLIT_ROLE_CENTRAL)
    select LV_USE_LABEL

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_80X128_MONO
    bool "Custom status screen form 80x128 mono display"
    select ZMK_DISPLAY
    select LV_OBJ_LABEL
    select LV_USE_IMG
    imply LV_USE_THEME_MONO
    imply ZMK_WIDGET_LAYER_STATUS
    imply ZMK_WIDGET_BATTERY_STATUS_80X128_MONO
    imply ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
    imply ZMK_WIDGET_OUTPUT_STATUS_80X128_MONO
    imply ZMK_WIDGET_PERIPHERAL_STATUS
    imply ZMK_WIDGET_WPM_STATUS

if ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_80X128_MONO

choice ZMK_DISPLAY_STATUS_SCREEN
    default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
endchoice

config ZMK_WIDGET_BATTERY_STATUS
    depends on !ZMK_WIDGET_BATTERY_STATUS_80X128_MONO

config ZMK_WIDGET_OUTPUT_STATUS
    depends on !ZMK_WIDGET_OUTPUT_STATUS_80X128_MONO

config ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE
    default 4096

config LV_FONT_MONTSERRAT_16
    default y

choice LV_FONT_DEFAULT
    default LV_FONT_DEFAULT_MONTSERRAT_16
endchoice

config LV_Z_VDB_SIZE
    default 100

config LV_Z_MEM_POOL_SIZE
    default 4096

endif # ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_80X128_MONO
