# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_STM32F1X=y
CONFIG_SOC_STM32F103XB=y
CONFIG_BOARD_FK680PRO_V2=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# enable clock control
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y

# Code partition needed to target the correct flash range
CONFIG_USE_DT_CODE_PARTITION=y

# use polling instead of interrupt
# stm32 dosen't support level trigger interrupt
CONFIG_ZMK_KSCAN_MATRIX_POLLING=y

# Output UF2
CONFIG_BUILD_OUTPUT_UF2=y

# reduce SRAM usage
# default: 8192
CONFIG_HEAP_MEM_POOL_SIZE=4096

CONFIG_USB_SELF_POWERED=n

# Enable USB CDC ACM logging for debugging
# Can't usable beacuase memory usage exceed.
# CONFIG_ZMK_USB_LOGGING=y
