dist/
*.hex
*.bin
*.uf2
.config
secure_config.h

/node_modules
/logs

.DS_Store
*~
.*~
.\#*
\#*\#
*.log

.venv
.renv
.rustenv
.vscode
.projectile
.dir-locals.el
compile_commands.json
.clangd
.ccls
.cache/
.ccls-cache/
.docsets/
xpacks/
package-lock.json

# VIA
via_app/

# qmk
vial.json
/.qmk_config
/qmk_firmware

# zmk
/.local
/.zmk_config
/.west
/zephyr
/zmk
/zmk-studio
/modules
/build
