dist/
*.hex
*.bin
*.uf2
.config
secure_config.h

node_modules/

.DS_Store
*~
.*~
.\#*
\#*\#
*.log

.venv
.vscode
.projectile
.dir-locals.el
compile_commands.json
.clangd
.ccls
.cache/
.ccls-cache/

# VIA
via_app/

# qmk
vial.json
.qmk_config
qmk_firmware/
.build/

# zmk
.zmk_config
.west/
zephyr/
zmk/
modules/
build/
