[submodule "lib/chibios"]
	shallow = true
[submodule "lib/chibios-contrib"]
	shallow = true
[submodule "lib/googletest"]
	shallow = true
[submodule "lib/lufa"]
	shallow = true
[submodule "lib/vusb"]
	shallow = true
[submodule "lib/printf"]
	shallow = true
[submodule "lib/pico-sdk"]
	shallow = true
[submodule "lib/lvgl"]
	shallow = true
