dist/
*.hex
*.bin
*.uf2
.config
vial.json
secure_config.h

node_modules/

.DS_Store
*~
.*~
.\#*
\#*\#
*.log

.venv
.vscode
.dir-locals.el
compile_commands.json
.cache/
.ccls-cache/
qmk_firmware/
via_app/
