#include "my-keymap-common.dtsi"

/ {

  soft_off_wakers {
    compatible = "zmk,soft-off-wakeup-sources";
    wakeup-sources = <&kscan0>;
  };

  keymap {
    compatible = "zmk,keymap";
    mac_base_layer {
      // -------------------------------------------------------------------------------------------
      // |  `  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |  \  |EC11 |
      // -------------------------------------------------------------------------------------------
      // | TAB    |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  | Bkspc  |
      // -------------------------------------------------------------------------------------------
      // | CAPS     |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER  |
      // -------------------------------------------------------------------------------------------
      // |  SHIFT     |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |  SHIFT   | MO2 |
      // ------------------------------------------------------------------------------------------
      //          | Opt |  Cmd  |            SPACE                         |  Cmd   | Opt |
      //          -------------------------------------------------------------------------
      bindings = <
      &kp GRAVE  &kp N1    &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS  &kp EQUAL  &kp BSLH  &kp C_MUTE
      &kp TAB    &kp Q     &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LBKT   &kp RBKT             &kp BSPC
      &kp LCTRL  &kp A     &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT                         &kp RET
      &kp LSHFT  &kp Z     &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH             &kp RSHIFT           _H_FN
                 _H_M_LOPT _LCMD                   &kp SPACE                                   _RCMD     _H_ROPT
      >;
      sensor-bindings = <&volume_encoder>;
    };
    win_base_layer {
      bindings = <
      &kp GRAVE  &kp N1    &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS  &kp EQUAL  &kp BSLH  &rc_btn
      &kp TAB    &kp Q     &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LBKT   &kp RBKT             &kp BSPC
      &kp LCTRL  &kp A     &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT                         &kp RET
      &kp LSHFT  &kp Z     &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH             &kp RSHIFT           _H_FN
                 _H_W_LOPT _LCMD                   &kp SPACE                                  _RCMD     _H_ROPT
      >;
      sensor-bindings = <&radial_controller>;
    };
    hhkb_fn_layer {
      bindings = <
      &kp ESC   &kp F1     &kp F2   &kp F3   &kp F4  &kp F5  &kp F6           &kp F7         &kp F8     &kp F9     &kp F10          &kp F11   &kp F12  &kp INS  &trans
      &kp CAPS  &kp F16    &kp F17  &kp F18  &trans  &trans  &trans           &trans         &kp PSCRN  &kp SLCK   &kp PAUSE_BREAK  &kp UP    &trans            &kp DEL
      &trans    &trans     &trans   &trans   &trans  &trans  &kp KP_MULTIPLY  &kp KP_DIVIDE  &kp HOME   &kp PG_UP  &kp LEFT         &kp RIGHT                   &kp KP_ENTER
      &trans    &trans     &trans   &trans   &trans  &trans  &kp KP_PLUS      &kp KP_MINUS   &kp END    &kp PG_DN  &kp DOWN                   &trans            &trans
                &trans     &trans                                             &trans                               &trans           &trans
      >;
      sensor-bindings = <&trans_encoder>;
    };
    apple_fn_layer {
      bindings = <
      &trans  &kp F1  &kp F2  &kp F3  _SPOTLIGHT _DICTATION  _DND    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &kp C_AL_LOCK
      &trans  &trans  &trans  &trans  &trans     &trans      &trans  &trans  &trans  &trans  &trans   &trans   &trans           &trans
      &trans  &trans  &trans  &trans  &trans     &trans      &trans  &trans  &trans  &trans  &trans   &trans                    &trans
      &trans  &trans  &trans  &trans  &trans     &trans      &trans  &trans  &trans  &trans  &trans            &trans           &trans
              &trans  &trans                                 &trans                          &trans   &trans
      >;
      sensor-bindings = <&trans_encoder>;
    };
    win_fn_layer {
      bindings = <
      &trans  _FN_F1  _FN_F2  _FN_F3  _FN_F4  _FN_F5  _FN_F6  _FN_F7  _FN_F8  _FN_F9  _FN_F10 _FN_F11 _FN_F12  &trans  &trans
      &trans  _FN_Q   &trans  _FN_E   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           _FN_BS
      &trans  _FN_A   &trans  &trans  _FN_F   &trans  _FN_H   &trans  &trans  &trans  &trans  &trans                   &trans
      &trans  &trans  &trans  _FN_C   &trans  &trans  _FN_N   _FN_M   &trans  &trans  &trans          &trans           &trans
              &trans  &trans                                  _FN_SPC                 &trans  &trans
      >;
      sensor-bindings = <&radial_controller_fine>;
    };
    setting_layer {
      // _SOFT_OFF
      //  To wake on any key-press, all other keys should be releeased before soft_off key being releasesd.
      //  if not wake on key press, connect/dis-connect USB.
      bindings = <
      &bootloader  &kp F13    &kp F14  &kp F15   &kp F16   &kp F17   &kp F18  &kp F19  &kp F20  &kp F21  &kp F22    &kp F23  &kp F24  &ota_bootloader  &sys_reset
      &trans       _BT_MAC1  _BT_MAC2  _BT_WIN1  _BT_MAC3  _BT_WIN2  &trans   _USB     &trans   &trans   _SOFT_OFF  &trans   _BT_CLR                   _BT_CLR_ALL
      &trans       _BT_OFF0  _BT_OFF1  _BT_OFF2  _BT_OFF3  _BT_OFF4  &trans   &trans   &trans   &trans   &trans     &trans                             &trans
      &trans       _MAC_WIN  _EP       _RGB      _BRT      _HUE      _SAT     _SPD     _EFT     &trans   &trans              &trans                    &trans
                   &trans    &trans                                           &trans                                &trans   &trans
      >;
      sensor-bindings = <&trans_encoder>;
    };
  };
};
