#include "my-keymap-common.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>

/ {

	chosen {
    zmk,matrix_transform = &mx_hot_swap_transform;
	};

	mx_hot_swap_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <7>;
		rows = <10>;
		map = <
		RC(0,0) RC(1,0) RC(0,1) RC(1,1) RC(0,2) RC(1,2) RC(0,3) RC(1,3) RC(0,4) RC(1,4) RC(0,5) RC(1,5) RC(0,6) RC(1,6) RC(3,6)
		RC(2,0) RC(3,0) RC(2,1) RC(3,1) RC(2,2) RC(3,2) RC(2,3) RC(3,3) RC(2,4) RC(3,4) RC(2,5) RC(3,5) RC(2,6)         RC(5,6)
		RC(4,0) RC(5,0) RC(4,1) RC(5,1) RC(4,2) RC(5,2) RC(4,3) RC(5,3) RC(4,4) RC(5,4) RC(4,5) RC(5,5)                 RC(7,6)
		RC(6,0) RC(6,1) RC(7,1) RC(6,2) RC(7,2) RC(6,3) RC(7,3) RC(6,4) RC(7,4) RC(6,5) RC(7,5)                 RC(8,6) RC(6,6)
		RC(8,0) RC(9,0) RC(8,1)                         RC(8,3)                                 RC(9,4) RC(8,5)         RC(9,5)
		>;
	};

  keymap {
    compatible = "zmk,keymap";
    mac_base_layer {
      // -------------------------------------------------------------------------------------------
      // |  `  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |  \  |EC11 |
      // -------------------------------------------------------------------------------------------
      // | TAB    |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  | Bkspc  |
      // -------------------------------------------------------------------------------------------
      // | CAPS     |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER  |
      // -------------------------------------------------------------------------------------------
      // |  SHIFT     |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |  SHIFT   | MO1 |
      // ------------------------------------------------------------------------------------------
      // |  fn   | Opt |  Cmd  |            SPACE                          |  Cmd   | Opt |  App   |
      // -------------------------------------------------------------------------------------------
      bindings = <
      &kp GRAVE  &kp N1   &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS  &kp EQUAL  &kp BSLH  &kp ESC
      &kp TAB    &kp Q    &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LBKT   &kp RBKT             &kp BSPC
      &kp LCTRL  &kp A    &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT                         &kp RET
      &kp LSHFT  &kp Z    &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH             &kp RSHIFT           _H_FN
      _A_FN     &kp LALT  _LCMD                   &kp SPACE                                              _RCMD     &kp RALT             _APP
      >;
    };
    win_base_layer {
      bindings = <
      &kp GRAVE  &kp N1   &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS  &kp EQUAL  &kp BSLH  &kp ESC
      &kp TAB    &kp Q    &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LBKT   &kp RBKT             &kp BSPC
      &kp LCTRL  &kp A    &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT                         &kp RET
      &kp LSHFT  &kp Z    &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH             &kp RSHIFT           _H_FN
      _W_FN     &kp LALT  _LCMD                   &kp SPACE                                              _RCMD     &kp RALT             _APP
      >;
    };
    hhkb_fn_layer {
      bindings = <
      &trans    &kp F1     &kp F2   &kp F3   &kp F4  &kp F5  &kp F6           &kp F7         &kp F8     &kp F9     &kp F10          &kp F11   &kp F12  &kp INS  &trans
      &kp CAPS  &kp F16    &kp F17  &kp F18  &trans  &trans  &trans           &trans         &kp PSCRN  &kp SLCK   &kp PAUSE_BREAK  &kp UP    &trans            &kp DEL
      &trans    &trans     &trans   &trans   &trans  &trans  &kp KP_MULTIPLY  &kp KP_DIVIDE  &kp HOME   &kp PG_UP  &kp LEFT         &kp RIGHT                   &kp KP_ENTER
      &trans    &trans     &trans   &trans   &trans  &trans  &kp KP_PLUS      &kp KP_MINUS   &kp END    &kp PG_DN  &kp DOWN                   &trans            &trans
      &trans    &trans     &trans                                             &trans                                                &trans    &trans            &trans
      >;
    };
    apple_fn_layer {
      bindings = <
      &trans  &kp F1  &kp F2  &kp F3  _SPOTLIGHT _DICTATION  _DND    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &kp C_AL_LOCK
      &trans  &trans  &trans  &trans  &trans     &trans      &trans  &trans  &trans  &trans  &trans   &trans   &trans           &trans
      &trans  &trans  &trans  &trans  &trans     &trans      &trans  &trans  &trans  &trans  &trans   &trans                    &trans
      &trans  &trans  &trans  &trans  &trans     &trans      &trans  &trans  &trans  &trans  &trans            &trans           &trans
      &trans  &trans  &trans                                 &trans                                   &trans   &trans           &trans
      >;
    };
    win_fn_layer {
      bindings = <
      &trans  _FN_F1  _FN_F2  _FN_F3  _FN_F4  _FN_F5  _FN_F6  _FN_F7  _FN_F8  _FN_F9  _FN_F10 _FN_F11 _FN_F12  &trans  &trans
      &trans  _FN_Q   &trans  _FN_E   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           _FN_BS
      &trans  _FN_A   &trans  &trans  _FN_F   &trans  _FN_H   &trans  &trans  &trans  &trans  &trans                   &trans
      &trans  &trans  &trans  _FN_C   &trans  &trans  _FN_N   _FN_M   &trans  &trans  &trans          &trans           &trans
      &trans  &trans  &trans                                  _FN_SPC                 &trans  &trans
      >;
    };
    setting_layer {
      bindings = <
      &bootloader  &kp F13   &kp F14   &kp F15   &kp F16   &kp F17   &kp F18  &kp F19  &kp F20  &kp F21  &kp F22  &kp F23  &kp F24  &ota_bootloader  &sys_reset
      &trans       _BT_MAC1  _BT_MAC2  _BT_WIN1  _BT_MAC3  _BT_WIN2  &trans   _USB     &trans   &trans   &trans   &trans   _BT_CLR                   _BT_CLR_ALL
      &trans       _BT_OFF0  _BT_OFF1  _BT_OFF2  _BT_OFF3  _BT_OFF4  &trans   &trans   &trans   &trans   &trans   &trans                             &trans
      &trans       _MAC_WIN  &trans    &trans    &trans    &trans    &trans   &trans   &trans   &trans   &trans            &trans                    &trans
      &trans       &trans    &trans                                  &trans                                       &trans   &trans                    &trans
      >;
    };
  };
};
