/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include "my-keymap-common.dtsi"

/ {
  soft_off_wakers {
    compatible = "zmk,soft-off-wakeup-sources";
    wakeup-sources = <&kscan0>;
  };

  keymap {
    compatible = "zmk,keymap";

    mac_base_layer {
      display-name = "Mac Base";

      // TODO Right Shift
      // --------------------------------------------------------------------------------
      // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
      // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
      // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
      //                    | OPT | CMD | SPC |   | ENT | CMD  | fn  |

      bindings = <
                  &kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T          &kp Y        &kp U  &kp I      &kp O    &kp P     &kp BSPC
                  &kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G          &kp H        &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
                  &kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B          &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  _C_RSHFT
                                           _H_M_LOPT _LCMD  &lt 6 ENTER    &lt 7 SPACE  _RCMD  _H_FN
      >;
    };

    win_base_layer {
      display-name = "Win Base";

      // --------------------------------------------------------------------------------
      // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
      // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
      // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
      //                    | OPT | CMD | SPC |   | ENT | CMD  | OPT |

      bindings = <
                  &kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T          &kp Y        &kp U  &kp I      &kp O    &kp P     &kp BSPC
                  &kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G          &kp H        &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
                  &kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B          &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  _C_RSHFT
                                           _H_W_LOPT _LCMD  &lt 6 ENTER    &lt 7 SPACE  _RCMD  _H_FN
      >;
    };

    hhkb_fn_layer {
      display-name = "HHKB Fn";

      // --------------------------------------------------------------------------------
      // | CAPS | F16 | F17 | F18 |     |     |   |PSCRN|  SLCK|  PB |  UP | INS | DEL  |
      // | CTRL |     |     |     | [*] | [/] |   | HOME| P.UP | LEFT| DOWN|RIGHT|  '   |
      // | SHFT |     |     |     | [+] | [-] |   | END | P.DN |     |     |     | ESC  |
      //                    |     |     |     |   |     |      |     |

      bindings = <
                  &kp CAPS  &kp F16  &kp F17  &kp F18  &trans           &trans            &kp PSCRN  &kp SLCK   &kp PAUSE_BREAK   &kp UP    &kp INS    &kp DEL
                  &trans    &trans   &trans   &trans   &kp KP_MULTIPLY  &kp KP_DIVIDE     &kp HOME   &kp PG_UP  &kp LEFT          &kp DOWN  &kp RIGHT  &trans
                  &trans    &trans   &trans   &trans   &kp KP_PLUS      &kp KP_MINUS      &kp END    &kp PG_DN  &trans            &trans    &trans     &trans
                                              &trans   &trans           &trans            &trans     &trans     &trans
      >;
    };

    apple_fn_layer {
      display-name = "APPLE Fn";
      // TODO Fn + H
      // -------------------------------------------------------------------------------
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      //                    |     |     |     |   |     |     |     |
      bindings = <
                  &trans  &trans  &trans  &trans  &trans  &trans    &kp F1  &kp F2  &kp F3  _SPOTLIGHT  _DICTATION  _DND
                  &trans  &trans  &trans  &trans  &trans  &trans    &kp F7  &kp F8  &kp F9  &kp F10     &kp F11     &kp F12
                  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans      &trans      &trans
                                          &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };

    win_fn_layer {
      display-name = "WIN Fn";

      // -------------------------------------------------------------------------------
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      //                    |     |     |     |   |     |     |     |
      // TODO Fn + H
      bindings = <
                  &trans  _FN_Q   &trans  _FN_E   &trans  &trans    _FN_F1   _FN_F2  _FN_F3  _FN_F4   _FN_F5   _FN_F6
                  &trans  _FN_A   &trans  &trans  _FN_F   &trans    _FN_F7   _FN_F8  _FN_F9  _FN_F10  _FN_F11  _FN_F12
                  &trans  &trans  _FN_C   &trans  &trans  &trans    _FN_N    _FN_M   &trans  &trans  &trans   &trans
                                          &trans  &trans  &trans    _FN_SPC  &trans  &trans
      >;
    };

    setting_layer {
      display-name = "Setting";

      // -------------------------------------------------------------------------------
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      //                    |     |     |     |   |     |     |     |
      bindings = <
                  &bootloader  _BT_MAC1  _BT_MAC2  _BT_WIN1  _BT_MAC3  _BT_WIN2    &trans  _USB    &trans  &trans  &soft_off  &sys_reset
                  &trans       _BT_OFF0  _BT_OFF1  _BT_OFF2  _BT_OFF3  _BT_OFF4    &trans  &trans  &trans  &trans  &trans     _BT_CLR
                  &trans       _MAC_WIN  _EP       _RGB      _BRT      _HUE        _SAT    _EFT    _SPD    &trans  &trans     _BT_CLR_ALL
                                                   &trans    &trans    &trans      &trans  &trans  &trans
      >;
    };

    supplement1_layer {
      display-name = "SUPP.1";

      // -------------------------------------------------------------------------------
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      //                    |     |     |     |   |     |     |     |
      bindings = <
                  &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5     &kp N6     &kp N7     &kp N8    &kp N9    &kp N0    &trans
                  &trans     &kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &kp MINUS  &kp EQUAL  &kp BSLH  &kp LBKT  &kp RBKT  &trans
                  &trans     &kp F6  &kp F7  &kp F8  &kp F9  &kp F10    &kp F11    &kp F12    &trans    &trans    &trans    &trans
                                             &trans  &trans  &trans     &trans     &trans     &trans
      >;
    };

    supplement2_layer {
      display-name = "SUPP.2";

      // -------------------------------------------------------------------------------
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      // |      |     |     |     |     |     |   |     |     |     |     |     |      |
      //                    |     |     |     |   |     |     |     |
      bindings = <
                  &kp ESC  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &trans
                  &trans   &kp F1    &kp F2  &kp F3    &kp F4    &kp F5       &kp UNDER  &kp PLUS  &kp PIPE   &kp LBRC  &kp RBRC  &trans
                  &trans   &kp F6    &kp F7  &kp F8    &kp F9    &kp F10      &kp F11    &kp F12   &trans     &trans    &trans    &trans
                                             &trans    &trans    &trans       &trans     &trans    &trans
      >;
    };
  };
};

&gooddisplay_gdew0102t {
  /*
   * power_saving mode
   *
   *   0: none
   *   1: POF (power-off) on blanking_on()
   *   2: POF (power-off) on blanking_on() and write()
   *   3: POF (power-off) on blanking_on() and write()
   *      DSLP (deep sleep) on blanking_on()
   *   4: POF (power-off) on blanking_on() and write()
   *      DSLP (deep sleep) on blanking_on() and write()
   */
  power-saving = <3>;
  /*
   *  Blanking mode
   *   0: keep content
   *   1: white (backgroun color)
   *   2: black (foreground color)
   *   3: invert (Default. reduce ghosting)
   */
  blanking = <3>;

  // for debugging
  // CDI = 0x92 0b10010010
  // [7:6] VBD  10b border color is same as background
  // [5] DDX[1]  0  update all pixel
  // [4] DDX[0]  1  black on white
  // [2:0] CDI   2  5hsync
  cdi = <0x92>;
  // ---------------------------------------------------
  // CDI = 0x82 0b10000010
  // [7:6] VBD  10b border color is same as background
  // [5] DDX[1]  0  update all pixel
  // [4] DDX[0]  0  white on black
  // [2:0] CDI   2  5hsync
  // cdi = <0x82>;
  // ---------------------------------------------------
  // CDI = 0xb2 0b10110010 (Default)
  // [7:6] VBD  10b border color is same as background
  // [5] DDX[1]  1  update only OLD->NEW changed pixel
  // [4] DDX[0]  1  black on white
  // [2:0] CDI   2  5hsync
  // cdi = <0xb2>;
};
