# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CZ42_LEFT

config ZMK_KEYBOARD_NAME
    default "CZ42"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CZ42_LEFT

if SHIELD_CZ42_LEFT || SHIELD_CZ42_RIGHT

config ZMK_SPLIT
    default y

config ZMK_RGB_UNDERGLOW
    default y
    select WS2812_STRIP

if ZMK_RGB_UNDERGLOW

config SPI
    default y

config WS2812_STRIP
    default y

endif # ZMK_RGB_UNDERGLOW

endif # SHIELD_CZ42_LEFT || SHIELD_CZ42_RIGHT
