# Copyright (c) 2020 Phytec Messtechnik GmbH, Peter Johanson
# SPDX-License-Identifier: Apache-2.0

# UC8175 display controller configuration options

config YA_UC8175
    bool "UltraChip UC8175 compatible display controller (yet another) driver"
	  default y
	  depends on DT_HAS_YA_ULTRACHIP_UC8175_ENABLED
	  select SPI
	  help
	    Enable (yet another) driver for UC8175 compatible controller.

config YA_UC8175_EXPERIMENT
    bool "this is just for my experimenetal playgorund"
    depends on PM_DEVICE
