# Copyright (c) 2020 Phytec Messtechnik GmbH, Peter Johanson
# SPDX-License-Identifier: Apache-2.0

# UC8175 display controller configuration options

config UC8175
    bool "UltraChip UC8175 compatible display controller driver"
	  default y
	  depends on DT_HAS_ULTRACHIP_UC8175_ENABLED
	  select SPI
	  help
	    Enable driver for UC8175 compatible controller.

config UC8175_EXPERIMENT
    bool "this is just for my experimenetal playgorund"
    depends on PM_DEVICE
