config BOOTSEL_STM32
    bool "Enable bootsel for stm32 SYSTEM_MEMORY bootloader"
    help
        see details on https://www.st.com/resource/en/application_note/an2606-stm32-microcontroller-system-memory-boot-mode-stmicroelectronics.pdf

if BOOTSEL_STM32

config BOOTSEL_STM32_BOOTLOADER_ADDRESS
    hex "Bootloader address"
    default 0x1FFF0000

config BOOTSEL_STM32_MAGIC
    hex "Magic code for bootloader"
    default 0xDEADBEAF

config BOOTSEL_STM32_ON_FATAL_ERROR
    bool "Reset to bootlader on fatal error"

endif # BOOTSEL_STM32
