menu "Zephyr Extends"

config BOOTSEL_STM32
    bool "Enable bootsel for stm32 SYSTEM_MEMORY bootloader"
    default n
    help
      see details on https://www.st.com/resource/en/application_note/an2606-stm32-microcontroller-system-memory-boot-mode-stmicroelectronics.pdf

if BOOTSEL_STM32

config BOOTSEL_STM32_INIT_PRIORITY
    int "PRE_KERNEL_1 Init Priority"
    default 0

config BOOTSEL_STM32_BOOTLOADER_ADDRESS
    hex "Bootloader address"
    default 0x1FFF0000

config BOOTSEL_STM32_MAGIC
    hex "Magic code for bootloader"
    default 0xDEADBEAF

config BOOTSEL_STM32_REBOOT_TYPE_MASK
    hex "mask bits for sys_reboot type"
    default 0xFFFFFFFF

config BOOTSEL_STM32_ON_FATAL_ERROR
    bool "Reset to bootlader on fatal error"
    default n

endif # BOOTSEL_STM32

config BOOTSEL_UF2_STM32F103
    bool "Enable bootsel for uf2-stm32f103 bootlader"
    depends on SOC_SERIES_STM32F1X
    default n
    help
      see details on https://github.com/mmoskal/uf2-stm32f103

if BOOTSEL_UF2_STM32F103

config BOOTSEL_UF2_STM32F103_MAGIC_APP
    hex "Magic code for application"
    default 0x3f82722a

config BOOTSEL_UF2_STM32F103_MAGIC_UF2
    hex "Magic code for uf2 bootloader"
    default 0x544F4F42

config BOOTSEL_UF2_STM32F103_MAGIC_UF2_REBOOT_TYPE_MASK
    hex "mask bits for sys_reboot type"
    default 0xFFFFFFFF

config BOOTSEL_UF2_STM32F103_ON_FATAL_ERROR
    bool "Reset to bootlader on fatal error"
    default n

endif # BOOTSEL_UF2_STM32F103

config BOOTSEL_VIA_DOUBLE_RESET
    bool "Enable bootsel via double-tap reset"
    default n

if BOOTSEL_VIA_DOUBLE_RESET

config BOOTSEL_VIA_DOUBLE_RESET_INIT_PRIORITY
    int "POST_KERNEL Init Priority"
    default 0

config BOOTSEL_VIA_DOUBLE_RESET_TIMEOUT_MS
    int "Window(milliseconds) of opportunity for a second press of a reset button to enter BOOTSEL mode"
    default 200

config BOOTSEL_VIA_DOUBLE_RESET_MAGIC
    hex "Magic code for BOOTSEL mode"
    default 0xf01681de

config BOOTSEL_VIA_DOUBLE_RESET_TYPE
    int "An argument of the sys_reboot function for BOOTSEL mode"
    default 1

endif # BOOTSEL_VIA_DOUBLE_RESET

config CUSTOM_SHELL_CMD
    bool "Enable custom shell command"
    default y if SHELL

config USB_TRACE_SETUP
    bool "Enable trace HID setup packet"
    default y if USB_DETECT_HOST_OS

config USB_DETECT_HOST_OS
    bool "Enable detecting usb host os"

if USB_DETECT_HOST_OS

config USB_DETECT_HOST_OS_DEBUG
    bool "Enable logging usb setup packet"
    default y if SHELL

endif # USB_DETECT_HOST_OS

config EVIL_LOG_LEVEL
    int "Independent log module for for debugging"
    default 4

endmenu
