# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_CUSTOM_KEYBOARD_LOGO
  bool "Enable custom keyboard logo"

config ZMK_DISPLAY_STATUS_PRESENTER
  bool "Enable staus presener"

rsource "Kconfig.portrait_mono"
rsource "custom_widgets/Kconfig"
rsource "fonts/Kconfig"
rsource "img/Kconfig"
