# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_68X160_MONO
  bool "Custom status screen for 80x128 mono display"
  select ZMK_DISPLAY
  select ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_68X160_MONO_CENTRAL if !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL
  select ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_68X160_MONO_PERIPHERAL if ZMK_SPLIT && !ZMK_SPLIT_ROLE_CENTRAL

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_68X160_MONO_CENTRAL
  bool "Custom status screen for 80x128 mono display"
  select ZMK_DISPLAY_STATUS_PRESENTER
  select ZMK_FONT_MICRO5_9
  select ZMK_FONT_COZETTA_ICONS_13 if ZMK_WIDGET_BLE_STATUS_16X12 && ZMK_WIDGET_USB_STATUS_16X12
  select ZMK_IMG_LOGO_40X40
  select LV_USE_FLEX
  select LV_USE_IMG
  select LV_USE_LABEL
  select LV_USE_THEME_MONO
  imply ZMK_WIDGET_BLE_STATUS_16X12
  imply ZMK_WIDGET_USB_STATUS_16X12
  imply ZMK_WIDGET_BATTERY_STATUS_23X12
  imply ZMK_WIDGET_LAYER_STATUS_H15
  # imply ZMK_WIDGET_LAYER_INDICATORS_H9
  imply ZMK_WIDGET_HID_INDICATORS_H11

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_68X160_MONO_PERIPHERAL
  bool "Custom status screen for 80x128 mono display"
  select ZMK_DISPLAY_STATUS_PRESENTER
  select ZMK_FONT_PIXEL_MPLUS_10
  select ZMK_IMG_STARMAN_68X80 if !ZMK_CUSTOM_KEYBOARD_LOGO
  select LV_USE_FLEX
  select LV_USE_IMG
  select LV_USE_LABEL
  select LV_USE_THEME_MONO
  imply ZMK_WIDGET_BATTERY_STATUS_23X12
  imply ZMK_WIDGET_PERIPHERAL_STATUS_36X12

if ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_68X160_MONO

choice ZMK_DISPLAY_STATUS_SCREEN
  default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
endchoice

choice ZMK_DISPLAY_WORK_QUEUE
  default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

choice LV_COLOR_DEPTH
  default LV_COLOR_DEPTH_1
endchoice

config LV_Z_VDB_SIZE
  default 100

config LV_Z_MEM_POOL_SIZE
  default 12288

# TODO purge unused built-in fonts

endif # ZMK_DISPLAY_STATUS_SCREEN_CUSTOM_68X160_MONO
