# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_CUSTOM_KEYBOARD_LOGO
  bool "Enable custom keyboard logo"

config ZMK_DISPLAY_STATUS_PRESENTER
  bool "Enable staus presener"

rsource "Kconfig.80x128_mono"
rsource "Kconfig.68x160_mono"
rsource "widgets/Kconfig"
rsource "fonts/Kconfig"
rsource "img/Kconfig"
