# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CZ42_LEFT
    def_bool $(shields_list_contains,cz42_left)

config SHIELD_CZ42_RIGHT
    def_bool $(shields_list_contains,cz42_right)
