#------------------------------------------------------------------------------
# tiny5
# https://github.com/Gissio/font_Tiny5
# OFL-1.1 license
#------------------------------------------------------------------------------
config ZMK_FONT_MICRO5_10
  bool "Enable micro5_10 font"

#------------------------------------------------------------------------------
# tiny5
# https://github.com/Gissio/font_Tiny5
# OFL-1.1 license
#------------------------------------------------------------------------------
config ZMK_FONT_TINY5_9
  bool "Enable tiny5_9 font"

config ZMK_FONT_TINY5_BOLD_9
  bool "Enable tiny5_bold_9 font"

#------------------------------------------------------------------------------
# PixelMplus font
# https://github.com/itouhiro/PixelMplus
# M+ FONT license
#------------------------------------------------------------------------------
config ZMK_FONT_PIXEL_MPLUS_10
  bool "Enable pixel_mplus_10 font"

config ZMK_FONT_PIXEL_MPLUS_12
  bool "Enable pixel_mplus_12 font"

config ZMK_FONT_PIXEL_MPLUS_BOLD_10
  bool "Enable pixel_mplus_bold_10 font"

config ZMK_FONT_PIXEL_MPLUS_BOLD_12
  bool "Enable pixel_mplus_bold_12 font"

#------------------------------------------------------------------------------
# teko
# https://github.com/googlefonts/teko
# OFL-1.1 license
# condensed, propotional
#------------------------------------------------------------------------------
config ZMK_FONT_TEKO_15
  bool "Enable teko_15 font"

config ZMK_FONT_TEKO_BOLD_15
  bool "Enable teko_bold_15 font"

#------------------------------------------------------------------------------
# Cozetta 6x13 pixel font
# https://github.com/slavfox/Cozette
# MIT license
#------------------------------------------------------------------------------
config ZMK_FONT_COZETTA_ICONS_13
  bool "Enable cozeeta_icons_13 font for 13pix icons"
