# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_STM32L4X=y
CONFIG_SOC_STM32L432XX=y
CONFIG_BOARD_KEYCHRON_Q60=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# enable GPIO
CONFIG_GPIO=y

# enable clock control
CONFIG_CLOCK_CONTROL=y

# enable pin controller
# CONFIG_PINCTRL=y

# Output .bin
CONFIG_BUILD_OUTPUT_BIN=y

CONFIG_USB_SELF_POWERED=n

# Enable USB CDC ACM logging for debugging
# CONFIG_ZMK_USB_LOGGING=y
