# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LIBRA_MINI

config ZMK_KEYBOARD_NAME
    default "Libra Mini"

config INPUT_ANALOG_JOYSTICK
    default y
    depends on DT_HAS_ZMK_INPUT_ANALOG_JOYSTICK_ENABLED

endif # SHIELD_LIBRA_MINI
