# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_STM32L4X=y
CONFIG_SOC_STM32L432XX=y
CONFIG_BOARD_KEYCHRON_Q60=y

CONFIG_HW_STACK_PROTECTION=y
CONFIG_ARM_MPU=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y

# Use polling instead of intrrupt for kscan
# some gpio input pins are exists on same EXTI line.
CONFIG_ZMK_KSCAN_MATRIX_POLLING=y

# Increase stack size
# default 1024
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048


# USB
CONFIG_ZMK_USB=y
CONFIG_USB_SELF_POWERED=n

# USB HID Device Interrupt Endpoint size
#
# if NKRO and MAX_USAGE > 0x67, it should be increased.
# probably it's caluculated from (MAX_USAGE + 1) / 8 + 3
#  - report id 1byte
#  - modifier input 1byte
#  - reserved inout 1byte
#  - nkro input (MAX_USAGE + 1) / 8 bytes
# default: 16
CONFIG_HID_INTERRUPT_EP_MPS=32
