# Copyright (c) 2021 Polarity Works
# SPDX-License-Identifier: MIT

if BOARD_BT60

config ZMK_KEYBOARD_NAME
    default "BT60"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # OARD_BT60
