config ZMK_WIDGET_BLE_STATUS_16X12
    bool "Widget for BLE status"
    depends on ZMK_BLE && (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL)
    select ZMK_FONT_PIXEL_MPLUS_BOLD_10
    select ZMK_FONT_COZETTA_ICONS_13
    select LV_USE_FLEX
    select LV_USE_LABEL

config ZMK_WIDGET_USB_STATUS_16X12
    bool "Widget for USB status"
    depends on ZMK_USB && (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL)
    select ZMK_FONT_COZETTA_ICONS_13
    select LV_USE_FLEX
    select LV_USE_LABEL

config ZMK_WIDGET_BATTERY_STATUS_32X12
    bool "Widget for battery charge information, using small icons"
    depends on BT
    select ZMK_FONT_PIXEL_MPLUS_10
    select ZMK_FONT_COZETTA_ICONS_13
    select LV_USE_FLEX
    select LV_USE_LABEL

config ZMK_WIDGET_LAYER_STATUS_H15
    bool "Widget for layer status"
    depends on !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL
    select ZMK_FONT_TEKO_BOLD_15
    select LV_USE_FLEX
    select LV_USE_LABEL

config ZMK_WIDGET_PERIPHERAL_STATUS_36X12
    bool "Widget for split peripheral status"
    depends on BT && ZMK_SPLIT && !ZMK_SPLIT_ROLE_CENTRAL
    select ZMK_FONT_PIXEL_MPLUS_10
    select ZMK_FONT_COZETTA_ICONS_13
    select LV_USE_FLEX
    select LV_USE_LABEL
