# SPDX-License-Identifier: MIT

# Enable MPU
CONFIG_ARM_MPU=y

# external RTC
# CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=n
# CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
# CONFIG_CLOCK_CONTROL_NRF_K32SRC_50PPM=y

# no external RTC
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=n
CONFIG_CLOCK_CONTROL_NRF_K32SRC_500PPM=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC_CALIBRATION=y

# enable pinctrl
CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y

# enable SPI
CONFIG_SPI=y

# code partition
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

# settings
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# set TX power level
# CONFIG_BT_CTLR_TX_PWR_PLUS_8=y // Recommended if used in a metal enclosure

CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y


# for debug / maintenance
# CONFIG_ADC_SHELL=y
# CONFIG_FLASH_SHELL=y
# CONFIG_SETTINGS_SHELL=y
