# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: Apache-2.0

config BOARD_Q60
    select SOC_STM32L432XX
    # TODO
    # imply RETAINED_MEM
    # imply RETENTION
    # imply RETENTION_BOOT_MODE
