# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_HW_STACK_PROTECTION=y
CONFIG_ARM_MPU=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y

# settings
CONFIG_SETTINGS=y
CONFIG_SETTINGS_NVS=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y0
CONFIG_FLASH_MAP=y

# Use polling instead of intrrupt for kscan
# some gpio input pins are exists on same EXTI line.
CONFIG_ZMK_KSCAN_MATRIX_POLLING=y

# Increase stack size
# default 1024XB
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048

# USB
CONFIG_ZMK_USB=y
CONFIG_USB_SELF_POWERED=n

# I2C RGB (SNLED27351)
CONFIG_SPI=n   # CONFIG_ZMK_RGB_UNDERGLOW make default to y
CONFIG_I2C=y
CONFIG_SNLED27351=y
CONFIG_LED_STRIP=y
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n
