# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_STM32F1X=y
CONFIG_SOC_STM32F103XB=y
CONFIG_BOARD_QK60_WIRED=y

# this unknown stm32F103 clone seems not supported
# default y
CONFIG_STACK_ALIGN_DOUBLE_WORD=n

# enable clock control
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y

# Code partition needed to target the correct flash range
CONFIG_USE_DT_CODE_PARTITION=y

# reduce SRAM usage
# default: 8192
CONFIG_HEAP_MEM_POOL_SIZE=6144

CONFIG_USB_SELF_POWERED=n

# maybe need to adjust indivisual gap
# default 0
CONFIG_ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS=1
# default 0
CONFIG_ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS=1

# if NKRO and MAX_USAGE > 0x67, it should be increased.
# probably it's caluculated from (MAX_USAGE + 1) / 8 + 3
#  - report id 1byte
#  - modifier input 1byte
#  - reserved inout 1byte
#  - nkro input (MAX_USAGE + 1) / 8 bytes
# default: 16
CONFIG_HID_INTERRUPT_EP_MPS=22
