# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_STM32F1X=y
CONFIG_SOC_STM32F103XB=y
CONFIG_BOARD_QK60_WIRED=y

# this unknown stm32F103 clone seems not supported
# default y
CONFIG_STACK_ALIGN_DOUBLE_WORD=n

# enable clock control
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y

# Code partition needed to target the correct flash range
CONFIG_USE_DT_CODE_PARTITION=y

# reduce SRAM usage
# default: 8192
CONFIG_HEAP_MEM_POOL_SIZE=7168

# dosen't work with interrupt ?
CONFIG_ZMK_KSCAN_MATRIX_POLLING=y

CONFIG_USB_SELF_POWERED=n

# maybe need to adjust indivisual gap

# default 0
CONFIG_ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS=1
# default 0
CONFIG_ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS=1
# default -1
# CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=1
# default -1
# CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=1
