# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_GOOD_DISPLAY

if ZMK_DISPLAY

config ZMK_DISPLAY_BLANK_ON_IDLE
    default n

config SPI
   default y

config UC8175
    default y

config HEAP_MEM_POOL_SIZE
    default 1024

config LV_Z_BITS_PER_PIXEL
    default 1

choice LV_COLOR_DEPTH
   default LV_COLOR_DEPTH_1
endchoice

config LV_DPI_DEF
    default 145

config LV_Z_VDB_SIZE
    default 100

config LV_USE_THEME_MONO
    default y

config LV_COLOR_CHROMA_KEY_HEX
   default 0x00FF00

config LV_Z_MEM_POOL_SIZE
    default 4096

choice ZMK_DISPLAY_STATUS_SCREEN
    default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
endchoice

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

config ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE
    default 4096

endif # ZMK_DISPLAY

if ZMK_DISPLAY_STATUS_SCREEN_CUSTOM

config ZMK_DISPLAY
    select LV_FONT_MONTSERRAT_26
    select LV_FONT_MONTSERRAT_16

config CUSTOM_WIDGET_BATTERY_STATUS
    bool "custom battery status widget"
    default y
    select LV_USE_IMG

config CUSTOM_WIDGET_OUTPUT_STATUS
    bool "custom output status widget"
    default y if ZMK_SPLIT_ROLE_CENTRAL
    select LV_USE_IMG

config CUSTOM_WIDGET_LAYER_STATUS
    bool "custom layer status widget"
    default y if ZMK_SPLIT_ROLE_CENTRAL
    select LV_USE_LABEL

config CUSTOM_WIDGET_PERIPHERAL_STATUS
    bool "custom peripheral status widget"
    default y  if !ZMK_SPLIT_ROLE_CENTRAL
    select LV_USE_IMG

config CUSTOM_WIDGET_LAYER_STATUS_HIDE_HEADING
	  bool "Hide heading strip for layer widget and center widgets on 1/3rds"

choice CUSTOM_WIDGET_LOGO_IMAGE
    prompt "custom logo widget image"
    default CUSTOM_WIDGET_LOGO_IMAGE_ZMK
config CUSTOM_WIDGET_LOGO_IMAGE_ZEN
    bool "Corne-ish Zen"
    select LV_USE_IMG

config CUSTOM_WIDGET_LOGO_IMAGE_LPKB
    bool "LPKB"
    select LV_USE_IMG

config CUSTOM_WIDGET_LOGO_IMAGE_ZMK
    bool "ZMK"
    select LV_USE_IMG

config CUSTOM_WIDGET_LOGO_IMAGE_MIRYOKU
    bool "Miryoku"
    select LV_USE_IMG

endchoice

endif # ZMK_DISPLAY_STATUS_SCREEN_CUSTOM

endif # SHIELD_GOOD_DISPLAY
