# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_GOODDISPLAY_GDEW0102T4

config YA_UC8175
    default y

if ZMK_DISPLAY

config ZMK_DISPLAY_BLANK_ON_IDLE
    default y

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif # ZMK_DISPLAY

endif # SHIELD_GOODDISPLAY_GDEW0102T4
